name: Terraform
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    environment: dev
    env:
      ARM_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID }}"
      ARM_SUBSCRIPTION_ID: "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
      ARM_TENANT_ID: "${{ secrets.AZURE_TENANT_ID }}"
      ARM_CLIENT_SECRET: "${{ secrets.AZURE_AD_CLIENT_SECRET }}"

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.1.7
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -input=false
        env:
          TF_VAR_public_key: ${{ secrets.AZURE_PUBLIC_KEY }}
          TF_VAR_ssh_user: ${{ secrets.AZURE_SSH_USER }}

      - name: Terraform Apply
        #if: github.event_name == 'workflow_dispatch'
        run: terraform apply -auto-approve -input=false
        env:
          TF_VAR_public_key: ${{ secrets.AZURE_PUBLIC_KEY }}
          TF_VAR_ssh_user: ${{ secrets.AZURE_SSH_USER }}
